/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background: #006680;
background-repeat: no-repeat;
background-size: cover;
}


h1{
font-family: tahoma, cursive;
color: black;
margin-left: 10px;
font-size: 40px;
text-align: right;
margin-top: 2px;
margin-bottom: 2px;
}

h2{
font-family: arial, cursive;
color: black;
margin-left: 10px;
font-size: 20px;
text-align: right
}

h3{
font-family: arial, cursive;;
color: white;
font-size: 15px;
text-align: center; 
}


header{
	width: 1000px;
	height: 168px;
	background: rgba(255, 255, 255, 10,70);
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
}

nav{
width: 1000px;
height: 50px;
background: #f2880d;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: #fff;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 

}

section{
	width: 695px;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border: 1px solid #fff;
}
aside{
	
	border: 1px solid #fff;
	width: 280px;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;

}

footer{
width: 1000px;
height: 50px;
background: #f2880d;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: #006680; text-decoration: none; font-weight: bold;}
.menu:visited{color:#006680; text-decoration: none; font-weight: bold;}
.menu:hover{color:#006680; text-decoration: none; text-shadow: 0 0 13px white;font-weight: bold;}
.menu:active{color:#006680; text-decoration: none; font-weight: bold;}

/*SEUDO CLASES*/

















